

body { 
  font-family: 'Raleway Light',sans-serif; 
  font-size: 14px;
  color: #2d2d2d;
}
header {
  font-family: 'Raleway Light Bold', sans-serif; 
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1, h2 {
  font-family: 'Playfair Display Bold',serif;
}

em {
  font-family: 'Playfair Display Italic',serif;
}

strong {
  font-family: 'Playfair Display Bold',serif;
}

/* Header-------------------------------------  */
 
header {
  display: -ms-flexbox;
  display: flex;
  height: 6.5rem;
  margin: .5rem;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
header a {
  font-size: .8rem;
  text-transform: uppercase;
  color: #e2574c;
}


a:hover {
  color: #b64036;
}
.nav {
    line-height: 2rem;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    -ms-flex-item-align: center;
    align-self: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-positive: 10;
    flex-grow: 10;
    -ms-flex-pack: center;
    justify-content: center;
}
nav {
  width: 95%;
  padding: .5rem;
  border-top: 1px #d7d7d7 solid;
}

.n-item {
    padding: 0 1rem;
    text-align: center;
    -ms-flex: 0 1 1rem;
    flex: 0 1 1rem;
}
header img {
  max-height: 3rem;
  padding: .5rem;
}
.container {
  
    padding: 0 2%;
    /* margin: 0 auto; */
    /* width: 100%; */
}

/* Hero ------------------------------------------- */
h2, .about p {
  text-align: center;
}


.hero {
   background-image: linear-gradient(to bottom,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url('../images/banner-girl.png'),url('../images/flower-bkgd.jpg');
   background-repeat: no-repeat, no-repeat, repeat-x;
   background-position: center, center 2rem, center;
   background-size: auto, 10rem, auto 30rem;
   height: 14rem;
   position: relative;
   color: #fff;
   text-align: center;
   padding-top: 8.5rem;
  
   } 

.hero p {
    text-transform: uppercase;
    text-shadow: 1px 1px grey;
    font-size: 1.2rem;
    font-weight: 600;
    display: block;
}
h1 {
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  padding: 0 4rem;
  text-shadow: 1px 1px #969696;
}
 
/* "Hand-Crafted Styles" Main----------------*/
h2 {
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 1rem;
  padding-top: 2rem;
  padding-bottom: 1.7rem;
  display: block;
  text-align: center;
}


.about p {
  font-family: 'Raleway Light';
  font-size: 0.9rem;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 3rem;
  color: #242424;
  line-height: 2rem;
  display: block;
  text-align: center;
}

.category{
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  text-shadow: 2px 2px 4px grey;
}

.mens, .trends, .glasses, .sale, .bags, .womens {
  font-family: 'Raleway Light Bold', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 22%;
  padding-bottom: 22%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-position: center, center;
  background-size: cover, cover;
}

.mens a, 
.trends a, 
.glasses a, 
.sale a, 
.bags a, 
.womens a {
  color: white;
}

.mens a:hover, 
.trends a:hover, 
.glasses a:hover, 
.sale a:hover, 
.bags a:hover, 
.womens a:hover {
  color: skyblue;;
}


.trends, .glasses, .sale, .bags {
  max-width: 50%;
  -ms-flex: 1 1 48%;
  flex: 1 1 48%;
}

.mens, .womens {
  max-width: 100%;
  -ms-flex: 2 1 100%;
  flex: 2 1 100%;
}

.mens {
    background-image: linear-gradient(to bottom,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url('../images/mens-category.jpg');
}

.trends {
  margin: .5rem .5rem .5rem 0;
  background-image: linear-gradient(to bottom,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url('../images/trends-category.jpg');
}
.glasses {
  margin: .5rem 0;
  background-image: linear-gradient(to bottom,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url('../images/glasses-category.jpg');
}

.sale {
  background-image: linear-gradient(to bottom,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url('../images/sale-category.jpg');
  margin: 0 .5rem .5rem 0;
}
.bags {
  margin-bottom: .5rem;
  background-image: linear-gradient(to bottom,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url('../images/bags-category.jpg');
}
.womens {
  background-image: linear-gradient(to bottom,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url('../images/womens-category.jpg');
}

/*Most Loved Carousel style-------------------*/
.flickity-page-dots {
  margin-bottom: 1.5rem;
}
.product-list {
  height: 32rem;
  padding-bottom: .5rem;
  text-align: center;
}

.product-wrapper {
  width: 100%;
  margin-bottom: 0;
  padding-top: 2rem;
}

h4 {
  font-family: 'Playfair Display', serif;
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: .5rem;
  margin-bottom: 0rem;
  padding-bottom: 0;
  color: #e2574c;
} 

h5, h3 {
  font-family: 'Raleway Light';
  color: #969696;
}

h5 {
  font-size: .9rem;
  line-height: .9rem;
  padding: 0;
}

h3 {
  font-size: .7rem;
  margin-top: .5rem;
  margin-bottom: 0;
  text-transform: uppercase;
}


/* updates section----------------------*/

.email {
  height: 17.5rem;
  margin-top: 2rem;
  padding-top: .2rem;
  padding-bottom: 1rem;
  text-align: center;
  color: white;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .2) 100%), url('../images/wave-bkgd.jpg');
  background-position: bottom, bottom;
  background-size: cover, 90rem;
}
.email p {
  font-family: 'Raleway Light';
  font-size: 0.9rem;
  margin-top: 0;
}
.email h2 {
  text-shadow: 2px 2px #969696;
}
.sign-up-form { 
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 1.5rem auto;
  padding: .2rem .2rem .2rem .6rem;
  border-radius: 2rem;
  background-color: white;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
  

.email input {
  font-family: 'Raleway Light';
  font-size: 0.8rem;
  border: none;
}

button {
  float: right;
  width: 25%;
  min-width: 110px;
  max-width: 110px;
  padding: .5rem 1rem;
  text-align: center;
  color: white;
  border: none;
  border-color: white;
  border-radius: 2rem;
  background-color: #e2574c;
  box-shadow: none;
  text-shadow: none;
  font-family: 'Raleway Light';
  cursor: pointer;
}

/*contact info--------------------------- */
 footer {
    font-family: 'Playfair Display';
    font-size: .9rem;
    line-height: 1.5rem;
    height: 10rem;
    margin-top: .6rem;
    padding: 2.5rem;
    text-align: center;
    color: white;
    background-color: #242424;
    background-size: cover;
}
footer a {
  line-height: 2rem;
  text-decoration: underline;
  color: white;
}
footer span p {
  color: #969696
}
/* Social Media Bars*/
.social {
  font-size: .8rem;
  display: -ms-flexbox;
  display: flex;
  width: 10rem;
  margin: 3rem auto 0 auto;
  -ms-flex-flow: column, nowrap;
  flex-flow: column, nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex: 0 1 0;
  flex: 0 1 0;
}

.social span {
  display: none;
}

@media screen and (min-width:600px) {
  /* Header: NavBar and Header Icons*/
  nav {
    border: none;
  }
  body {
    font-size: 16px;
  }
  header {
    height: 4rem;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .hero {
    background-size: 10rem cover;
  }
  nav {
    width: 40%;
    -ms-flex-order: 2;
    order: 2;
  }
  .cart {
    -ms-flex-order: 3;
    order: 3;
  }
  h1 {
    font-size: 3rem;
    margin-top: 1.2rem;
    text-shadow: 2px 2px 2px grey;
  }
  .about p{
    font-size: 1rem;
  }
  /*Category Tiles-------------------------*/
  .trends, .glasses, .sale, .bags, .mens, .womens {
    margin: 0.5%;
    padding-top: 11%;
    padding-bottom: 11%;
  }
  .trends, .glasses, .sale, .bags {
    max-width: 24%;
    -ms-flex: 1 0 24%;
    flex: 1 0 24%;
  }
  .mens, .womens {
    max-width: 49%;
    -ms-flex: 2 0 49%;
    flex: 2 0 49%;
  }
  .mens, .sale {
    border-left: 0;
  }
  .womens, .glasses {
    border-right: 0;
  }
  /*Flickity Carousel--------------------*/
  .product-list {
    margin: 0 auto;
  }
  .product-wrapper {
    width: 50%;
  }
  /*Email Updates -----------------------*/
  .sign-up-form {
    align-items: center;
  }
  .email {
    height: 18.5rem;
  }
  .email p {
    font-size: 1.2rem;
    max-width: 660px;
    margin: 0 auto;
  }
  form {
    max-width: 500px;
    margin: 0 auto;
  }
  form button {
    margin: .05rem;
  }
  /*Social Media Bar----------------------*/
  footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .aboutTxt {
    font-size: 1rem;
    padding-top: .5rem;
    text-align: left;
  }
  .social {
    font-family: 'Raleway Light';
    font-size: 1.0rem;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 10rem;
    margin: 0;
    padding: 1rem 0 0 0;
    text-align: left;
    -ms-flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .social i {
    width: 2rem;
    height: 1.5rem;
    -ms-flex: 0;
    flex: 0;
  }
  .social a {
    font-size: 0.9rem;
    text-decoration: none;
    width: 10rem;
  }
  .social span {
    display: inline;
    text-align: left;
  }
}


/*Desktop1240 Breakpoint*/

@media screen and (min-width: 1240px) {
  .wrapper {
    font-size: 4rem;
  }
  .category a {
    font-size: 3rem;
  }
  /*Logo and Cart -------------------------*/
  header img {
    max-height: 4rem;
  }
  header {
    height: 6rem;
  }
  /*Nav Bar--------------------------------*/
  .nav {
    left: 15%;
  }
  .n-item a {
    font-size: 1rem;
  }
  /*Hero-----------------------------------*/
  .hero {
    height: 22rem;
    padding-top: 13rem;
    background-position: center, center 4rem, center;
    background-size: auto, 15.5rem, auto 100%;
  }
  h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }
 
  .product-list {
    max-width: 1240px;
    margin: 0 auto;
  }
  .product-wrapper {
    width: 25%;
  }
  
  .email {
    background-size: cover;
  }
 



